/*CALENDAR*/
body {
    /*Font and margin*/
    font-family: 'Rethink Sans', sans-serif;
    margin: 0px;
}
.containerBG { /*Container for content*/
    flex: 1;
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url('/assets/pianoBGBlur.png') !important;
    background-size: 100% 140%;
    padding-left: 10%;
}

.background {
    display: block;
    margin: 0 auto auto auto;
    border-radius: 0 0 20px 20px;
    width: 80%;
    background-color: #ebf2f2c1;
}

#container {
    /*Calendar container*/
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-bottom:30px;
    padding-top: 30px;
}

.navigateMonths {
    /*Center header - navigation and title*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navBtn {
    /*Navigation btns*/
    font-size: x-large;
    background-color: #ffffff00;
    border: none;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.navBtn:hover {
    background-color: #bfd6d6;
}

table {
    /*Calendar table*/
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 14px;
}

th {
    background-color: #bfd6d6;
}

td:not(:empty) {
    cursor: pointer;
}

td:not(:empty, .clicked):hover {
    /*Calendar date hover*/
    background-color: #bfd6d6;
    transition-duration: 0.4s;
    border-radius: 0px;
}

td.clicked {
    /*Calendar date click*/
    background-color: #95b5b5;
    transition-duration: 0.4s;
    color: white;
    border-radius: 0px;
}

#wrapper {
    /*Flexbox container - events + calendar*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    min-height: 99vh;
}

#eventContainer {
    /*Events container*/
    text-align: center;
    width: 40%;
    background-color: #d3e4e4;
    padding-top: 30px;
    border-radius: 0 0 0 20px;
}

.eventHeader,
#currentMonth {
    /*Headers text style*/
    text-align: center;
    font-size: large;
    margin: 0px;
    padding: 10px;
}

.eventInput {
    margin-top: 5px;
}

#eventTitle,
#eventTime,
#eventDuration {
    /*Event input boxes*/
    height: 30px;
    margin-left: 2px;
    font-family: 'Rethink Sans', sans-serif;
}

#eventTitle {
    width: 70%;
    margin-right: 5px;
}

#eventTime {
    width: 73px;
    margin-right: 10px;
}

#eventDuration {
    width: 45px;
}
.grey {
    text-decoration:none !important;
    color: black;
}

#addBtn {
    width: 80px;
    height: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #95b5b5;
    color: white;
    margin-left: 3%;
    margin-top: 20px;
}
#addBtn:hover {
    background-color: #86a3a3;
    transition-duration: 0.6s;
}

#eventDetails {
    margin-top: 20px;
    text-align: center;
}

.eventPresent {
    /*Change date colour if has event*/
    height: 10px;
    background-color: #d3e4e4;
    border-radius: 20px;
}